@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

*, html {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 18px;
}
body {
	font-size: 18px;
}
nav {
	position: sticky;
	top:  0;
	background-color: white;
	z-index: 10;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
section {
	width: 100%;
}

p {
	font-size: 16px;
    line-height: 26px;

}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 0.8em;
}
h5 {
	font-size: 0.7em;
}
p {
	font-size: 1.1em;
}

.pt {
	padding-top: 50px;
}
/*NAVIGATION SECTION*/

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}
.nav a {
	/*text-decoration: none;*/
	color: black;
}

/*ABOUT ME SECTION*/
.about-me {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about-me-details {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;

}
.about-me-text{
	display: flex;
	flex-direction: column;
	padding: 50px;
	text-align: left;

}
.ava-img {
	border-radius: 50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
	margin: 50px;
	max-height: 80vh;
}

#about-me {
	background-image: url("https://images.squarespace-cdn.com/content/v1/60050e752f57da1e2e70a918/1614324895441-8UAJRXAE2WA1S6USNMZA/CJADE-Creative-Header_Background_Home.jpg?format=1000w");
	object-position: 50% 50%;
    height: 100%;
    object-fit: cover;
}


/*STEPS SECTION*/
#steps {
	padding: 100px 0;
}
.steps {
	display: flex;
	justify-content: center;
	align-items: center;
}
.steps-img {
	margin-left: 100px;
	max-width: 30%;
}
ol {
	margin: 50px;
	background-color: #F1EDE5;
  list-style: none;
  counter-reset: my-awesome-counter;
  border-radius: 50%;


}
ol li {
  counter-increment: my-awesome-counter;
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
  text-align: left;

}
ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 2em;
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}
/*CONTACT ME SECTION*/
#contactme {
	background-color: #F0A682 ;
	padding: 4vw 0;
	padding-top: 100px;
	padding-bottom: 100px;
}

#contactme p {
	color:  white;
}

#contactme a {
	/*text-decoration: none;*/
	color: white;
	/*font-style: italic;*/
	font-weight: 300;
}

#contactme button {
	background-color: white;
	border-radius: 8px;
	-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top: 50px;
  border: 0px;
	padding: 15px 18px;
	padding-bottom: 18px;
}
#contactme button a {
	color:   #F0A682;
}

/* MYWORK SECTION */

.mywork {
	padding: 0;
 	padding-top: 100px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
}

.mywork a {
	/*text-decoration: none;*/
	color:  black;
}
.mywork .cards {
	display: flex;
	flex-direction: row;
}
.mywork .card {
	background-color: #F1EDE5;
	border-radius: 8px;
	margin: 50px;
	padding: 15px 18px;
	padding-bottom: 18px;
}
/*GALLERY SECTION */
#projects {
 	padding: 0;
 	padding-top: 100px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 }
 #figures  {
 	padding: 0;
 	padding-top: 100px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 }
.title {
	margin: 50px 0;
}
.gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.g1 {
	display: flex;
	flex-direction: column;
	max-height: 700vw;
}
.g2 {
	display: flex;
	flex-direction: column;
	max-height: 700vw;
}

.singleimage {
	max-width: 35vw;	
	overflow: hidden;
	transition: transform 1.5s ease-in-out;
}
.singleimage-inner {
	transition: transform 2s ease-in-out;
}

.singleimage:hover {
	opacity: 0.8;
}
/*FOOTER SECTION*/
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.footer div {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 50px;
}
.footer a {
	/*text-decoration: none;*/
	color: black;
}

a {
	color: inherit;
	text-decoration: none;
	display: block;
	position: relative;
	padding: 0.2em 0;
}
/* Fade in */
a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3em;
  background-color: #F0A682;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a:hover:after,
a:focus:after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/*RESPONSIVE DESIGN*/
@media only screen and (max-width: 769px){
	.about-me-details {
		flex-direction: column;
	}
	.steps {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.steps-img {
	margin: 0;
	margin-top: 50px;
	max-width: 30%;
}
}
@media only screen and (max-width:600px){
	.gallery {
	flex-direction: column;
	align-items: center;
	}
	.g1, .g2 {
		max-height: fit-content;
	}
	.singleimage {
		max-width: 80vw;
	}
	.mywork .cards {
		flex-direction: column;
	}
}
